{:paths   ["src" "target/classes"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.5"}}
 :aliases {:kaocha {:extra-paths ["test"]
                    :extra-deps  {lambdaisland/kaocha   {:mvn/version "1.91.1392"}
                                  com.cnuernber/charred {:mvn/version "1.042"}}
                    :main-opts   ["-m" "kaocha.runner"]}
           :dev    {:extra-paths ["dev"]
                    :jvm-opts    ["--add-modules=jdk.incubator.vector"]
                    :extra-deps  {dev.weavejester/hashp                    {:mvn/version "0.5.1"}
                                  io.github.tonsky/clj-reload              {:mvn/version "1.0.0"}
                                  djblue/portal                            {:mvn/version "0.65.0"}
                                  lambdaisland/ansi                        {:mvn/version "0.2.37"}
                                  my/dev-repl                              {:git/url "https://github.com/Ramblurr/clojure-dev-repl.git"
                                                                            :git/sha "3a298ad1d16875ff841079b1bfab087d3ef817ba"}
                                  com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.7.0"}}}
           :build  {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.14"}
                                 slipset/deps-deploy           {:mvn/version "0.2.5"}}
                    :ns-default build}
           :jmh    {:extra-paths ["bench" "target/jmh-classes"]
                    :extra-deps  {jmh-clojure/jmh-clojure {:mvn/version "0.4.1"}}
                    :main-opts   ["-m" "ol.ron.jmh"]}
           :neil   {:project {:name        com.outskirtslabs/ron-clj
                              :url         "https://github.com/outskirtslabs/ron-clj"
                              :license     {:id "MIT"}
                              :description "Fast RON (Readable Object Notation) reader and writer for Clojure"
                              :platforms   [:clj]
                              :created     "2026-06-12"
                              :status      :experimental
                              :version     "0.0.1"}}}}
